// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

.#{tp.$prefix}-profilerv {
  position: relative;

  &_root {
    background-color: tp.cssVar('monitor-bg');
    width: 100%;
    height: calc(2 * tp.cssVar('container-unit-size'));
  }

  &_entryrect {
    rx: tp.cssVar('blade-border-radius');
    ry: tp.cssVar('blade-border-radius');
    stroke: transparent;
    stroke-width: 1px;
    filter: saturate( 0.5 );
  }

  &_entryrect:hover {
    filter: saturate( 1.0 );
  }

  &_tooltip {
    position: absolute;
    right: 100%;
    top: 0;
    overflow: hidden;
    background: tp.cssVar('base-bg');
  }

  &_tooltipinside {
    padding: 0 4px;
    overflow: visible;
    white-space: pre;
    text-align: right;
    background: tp.cssVar('monitor-bg');
    color: tp.cssVar('input-fg');
  }

  &_label {
    color: tp.cssVar('monitor-fg');
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
