// Import core styles
@import '../../node_modules/@tweakpane/core/lib/sass/plugin';

.#{$prefix}-profilerv {
  position: relative;

  &_root {
    background-color: var(--mo-bg);
    width: 100%;
    height: calc( 2.0 * var(--bld-us) );
  }

  &_entryrect {
    rx: var(--elm-br);
    ry: var(--elm-br);
    stroke: transparent;
    stroke-width: 1px;
    filter: saturate( 0.5 );
  }

  &_entryrect:hover {
    filter: saturate( 1.0 );
  }

  &_tooltip {
    position: absolute;
    right: 100%;
    top: 0;
    overflow: hidden;
    background: var(--bs-bg);
  }

  &_tooltipinside {
    padding: 0 4px;
    overflow: visible;
    white-space: pre;
    text-align: right;
    background: var(--mo-bg);
    color: var(--in-fg);
  }

  &_label {
    color: var(--mo-fg);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
